<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit</title>
  </head>
  <body style="background-color: #F8F8F8">
    <br>
    <h1>Editing <%=@question.title%></h1>

    <%= render 'form', question: @question %>

    <h3 style="text-align:center"><%= link_to 'Back', @question %></h3>


  </body>
</html>
