/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navfont{
  font-family: 'Aladin', cursive;
  font-size: 20px;
}

  .row {
    max-width: 100%;
  }

  .menu {
    background-color: #292c2f;
    padding: 1.5rem 3rem;
    height: auto;
    .inline-list {
      text-align: center;
      li {
        float: none;
        padding: 5px;
        display: inline-block;
      }
      a {
        color: #fff;
        padding-bottom: 0.5rem;
        &:hover {
          color: #C2BAA8;
          transition: all .3s ease-in-out;
        }
      }
      .active a {
        color: #C2BAA8;
      }
    }
    @media only screen and (min-width: 40.063em) {
    height: 5rem;
    .inline-list {
      float: right;
      }
      a:hover {
        border-bottom: 2px solid #C2BAA8
      }
    }
  }

  .name {
    text-align: center;
    font-family: 'Aladin', cursive;
    font-size:  2.5rem;
    line-height: 0;
    margin: 0 0 1rem 0;
    color: #fff;
    i {
      color: #C2BAA8;
      margin-right: 0.5rem;
    }
    @media only screen and (min-width: 40.063em) {
      float: left;
    }
  }
