h2{
  margin: auto;
  text-align: center;
}

.cancel{
  margin: auto;
  text-align: center;
}


.col.s12{
  padding: 2px;
  position: absolute;
  display: inline-block;

  margin: auto;
  text-align: center;
}


.input{
  padding: 10px;
  margin: auto;
  text-align: center;
  background-color: white;
}



.waves-effect.waves-light.btn{
  background-color: #d50000;
}
