.response-panel{
  height: auto;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 5px;

  i{
    font-size: 30px;
    line-height: 50px;
    color: #999;
  }
  form{
    input, span{
    height: 10px;
  }

  }
  .welcome{
    font-size: 26px;
    text-align: center;
    margin-left: 0;
  }
  p{
    font-size: 13px;
    font-weight: 200;
    margin-left: 25%;
  }
  .button{
    margin-left: 35%;
  }

}


.large-6.large-centered.columns{
  width: 900px;

}

.response-panel{
  background-color: white;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.16), 0 20px 10px 0 rgba(0, 0, 0, 0.12);

}
