
.loginlink{
    text-align: center;
}

.col.s12{
  padding: 2px;
  display: block;
  position: absolute;

  margin: auto;
  text-align: center;
}

.input{
  padding: 10px;
  margin: auto;
  text-align: center;
}

.signupheader{
  text-align: center;

}
